
# --- build artifacts ---
*.o
*.a
*.so
*.cmd
*.d
*.dtb
*.dtbo
*.dtbo.dtout
*.tmp
*.mod
*.mod.c
*.order
*.symtypes
*.ko
*.lz4
*.gz
*.img
vmlinux
vmlinux.*
System.map
Module.symvers
modules.builtin
modules.order
include/config/*
include/generated/*
.arch/
.tmp_versions/

# build outputs
.config
.version
.tmp_*
.tmp/*
*.log
arch/arm64/boot/Image
arch/arm64/boot/Image.gz
arch/arm64/boot/**/*.dtb*
arch/arm64/boot/**/*.dtbo*
**/*.reverse.dts
**/*.dtout
**/*.gen.S
**/__pycache__/
