
# --- build artifacts ---
*.o
*.a
*.so
*.cmd
*.d
*.dtb
*.dtbo
*.dtbo.dtout
*.tmp
*.mod
*.mod.c
*.order
*.symtypes
*.ko
*.lz4
*.gz
*.img
vmlinux
vmlinux.*
System.map
Module.symvers
modules.builtin
modules.order
include/config/*
include/generated/*
.arch/
.tmp_versions/
